// Colors

// colors titles, texts
$color-principal: #3b9655;
$color-titles: white;
$color-general: black;
$color-np: #4c1130;

// background colors 
$bg-color-btt:#296b3c;
$bg-color-pages:#b6d7a8;
$bg-color-hd-ft: rgba(255, 255, 255, 0.7);




