// FONTS

// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

// FONTS VARS
$font-principal: 'Handlee', cursive;
$font-secondary: 'Comfortaa', cursive;

// font sizes titles
$font-h1: 1.8rem;
$font-h2: 1.6rem;
$font-h3: 1.4rem;
$font-h4: 1.3rem;

// fonts sizes p, li, a,
$font-general: 1.2rem; 
$font-email: 1.1rem;

// font sizes in general 
$font-size-logo: 1.6rem;
$font-size-sm: 2rem;
$font-size-btn: 1.5rem;
