// MAPS

// IMAGES DE SALLE DE BAINS
$salle-de-bains: (
    img-prod1: url(../media/img-prod1.png),
    img-prod2: url(../media/img-prod2.png),
    img-prod3: url(../media/img-prod3.png),
    img-prod4: url(../media/img-prod4.png),
    img-prod5: url(../media/img-prod5.png),
    img-prod6: url(../media/img-prod6.png),
);

// IMAGES DE LA CUISINE
$cuisine: (
    img-prod7: url(../media/img-prod7.png),
    img-prod8: url(../media/img-prod8.png),
    img-prod9: url(../media/img-prod9.jpg),
    img-prod10: url(../media/img-prod10.jpg),
    img-prod11: url(../media/img-prod11.jpg),
    img-prod12: url(../media/img-prod12.jpg),
);

// IMAGES DE LA MAISON
$maison: (
    img-prod13: url(../media/img-prod13.jpg),
    img-prod14: url(../media/img-prod14.jpg),
    img-prod15: url(../media/img-prod15.jpg),
);

// IMAGES DE BEBES ET FEMMES
$bebes-et-femmes: (
    img-prod16: url(../media/img-prod16.png),
    img-prod17: url(../media/img-prod17.png),
    img-prod18: url(../media/img-prod18.png),
    img-prod19: url(../media/img-prod19.png),
    img-prod20: url(../media/img-prod20.png),
    img-prod21: url(../media/img-prod21.png),
);
