// VARS

// measurement units
$width: 100%;
$height-ftr: 85px;
$height-main: 1920px;

// vars de images
$height-imgProduit: auto;
$width-imgProduit: 100%;
$sizeHeight-carousel: 250px;
$sizeWidth-carousel: 376px;

// others vars
$padding-titles: 1.5em 0 1em 0;
$padding-email: 0em 0.3em;
$padding-btn: 0.2em;
$borderRadius-btn: 0.6em;